[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-bootstrap = "*"


[dev-packages]

coverage = "*"
flask-testing = "*"
flask-wtf = "*"
python-dotenv = "*"


[requires]

python_version = "3.8"
